* {
  box-sizing: border-box;
}

.ce-block__content {
  max-width: 44rem;
}
.ce-toolbar__content {
  max-width: 44rem;
}

.codex-editor__loader {
  height: 138px;
}

.cdx-notify--error {
  background-color: inherit !important;
}

html,
body {
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
}

:not(pre) > code {
  background: rgba(250, 239, 240, 0.78);
  color: #b44437;
  padding: 3px 4px;
  border-radius: 5px;
  margin: 0 1px;
  font-family: inherit;
  font-size: 0.86em;
  font-weight: 500;
  letter-spacing: 0.3px;
}

@media (min-width: 651px) {
  .codex-editor--narrow .ce-toolbar__plus {
    left: -2rem;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

* {
  scrollbar-width: 10px;
  scrollbar-color: darkgrey;
}
