* {
  box-sizing: border-box;
}

.ce-block__content {
  max-width: 44rem;
}
.ce-toolbar__content{
  max-width: 44rem;
}

.codex-editor__loader {
  height: 138px;
}

.cdx-notify--error {
  background-color: inherit !important;
}

html,body{
  height: 100%;
  width: 100%;
}

#root {
  min-height: 100%;
}